.paper {
    max-height: "calc(100% - 96px)";
    position: absolute;
}
  /* Styles applied to the `List` component via `MenuList`. */
.list {
    outline: 0
}

.text-right {
}

.sticky-note {
  border-bottom: 1px solid
}

.sticky-note-button {
  margin-top: 2rem !important;
}