.document-root {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.document-left {
  min-width: 400px;
  background-color: rgba(82, 147, 250, 0.5);
  height: 100vh;
}

.document-right {
  flex-grow: 1;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-text {
  height: 200px;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  font-size: 60px;
}

.document-menu-item {
  margin-bottom: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

.document-menu-item:hover {
  background-color: rgba(82, 147, 250, 0.9);
}

.document-menu-item-selected {
  background-color: rgba(82, 147, 250, 0.9);
}

.home-button {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  font-size: 1rem;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  background: #944c36;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  font-family: "Roboto";
  margin-bottom: 1rem;
  margin-left: 1rem;
}
