.home-root {
    height: 100%;
}

.home-left {
    width: 400px;
    background-color: rgba(82, 147, 250, 0.5);
    height: 100vh;
}

.logo-text {
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 80px;
    font-size: 60px;
}

.home-menu-item {
    margin-bottom: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.home-menu-item:hover {
    background-color: rgba(82, 147, 250, 0.9);
}

.home-menu-item-selected {
    background-color: rgba(82, 147, 250, 0.9);
}

.settings-button {
    position: absolute;
    left: 0;
    bottom: 45px;
    display: flex;
    font-size: 1rem;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    background: #944c36;
    margin:auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
    font-family: 'Roboto';
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.logout-button {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    font-size: 1rem;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    background: #944c36;
    margin:auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
    font-family: 'Roboto';
    margin-bottom: 1rem;
    margin-left: 1rem;
}